In [1]:
import pandas as pd
ds=pd.read_csv(r"C:\Users\user\Desktop\DataSets\weather (1).csv")

In [2]:
ds

     Outlook  Temp Humidity  Windy Play
0      Rainy   Hot     High  False   no
1      Rainy   Hot     High   True   no
2   Overcast   Hot     High  False  yes
3      Sunny  Mild     High  False  yes
4      Sunny  Cool   Normal  False  yes
5      Sunny  Cool   Normal   True   no
6   Overcast  Cool   Normal   True  yes
7      Rainy  Mild     High  False   no
8      Rainy  Cool   Normal  False  yes
9      Sunny  Mild   Normal  False  yes
10     Rainy  Mild   Normal   True  yes
11  Overcast  Mild     High   True  yes
12  Overcast   Hot   Normal  False  yes
13     Sunny  Mild     High   True   no

In [3]:
ds.shape

(14, 5)

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Outlook   14 non-null     object
 1   Temp      14 non-null     object
 2   Humidity  14 non-null     object
 3   Windy     14 non-null     bool
 4   Play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [5]:
ds.isnull().sum()

Outlook     0
Temp        0
Humidity    0
Windy       0
Play        0
dtype: int64

In [6]:
ds.columns

Index(['Outlook', 'Temp', 'Humidity', 'Windy', 'Play'], dtype='object')

In [7]:
x=ds[['Outlook', 'Temp', 'Humidity', 'Windy']].values
y=ds[['Play']]

In [8]:
x

array([['Rainy', 'Hot', 'High', False],
       ['Rainy', 'Hot', 'High', True],
       ['Overcast', 'Hot', 'High', False],
       ['Sunny', 'Mild', 'High', False],
       ['Sunny', 'Cool', 'Normal', False],
       ['Sunny', 'Cool', 'Normal', True],
       ['Overcast', 'Cool', 'Normal', True],
       ['Rainy', 'Mild', 'High', False],
       ['Rainy', 'Cool', 'Normal', False],
       ['Sunny', 'Mild', 'Normal', False],
       ['Rainy', 'Mild', 'Normal', True],
       ['Overcast', 'Mild', 'High', True],
       ['Overcast', 'Hot', 'Normal', False],
       ['Sunny', 'Mild', 'High', True]], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

x[:,0]=label.fit_transform(x[:,0])
x[:,1]=label.fit_transform(x[:,1]) 
x[:,2]=label.fit_transform(x[:,2])
x[:,3]=label.fit_transform(x[:,3])

In [10]:

 x

array([[1, 1, 0, 0],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [2, 2, 0, 0],
       [2, 0, 1, 0],
       [2, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 2, 0, 0],
       [1, 0, 1, 0],
       [2, 2, 1, 0],
       [1, 2, 1, 1],
       [0, 2, 0, 1],
       [0, 1, 1, 0],
       [2, 2, 0, 1]], dtype=object)

In [11]:
y

   Play
0    no
1    no
2   yes
3   yes
4   yes
5    no
6   yes
7    no
8   yes
9   yes
10  yes
11  yes
12  yes
13   no

In [12]:
y=label.fit_transform(y)

C:\Users\user\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [14]:
x

array([[1, 1, 0, 0],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [2, 2, 0, 0],
       [2, 0, 1, 0],
       [2, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 2, 0, 0],
       [1, 0, 1, 0],
       [2, 2, 1, 0],
       [1, 2, 1, 1],
       [0, 2, 0, 1],
       [0, 1, 1, 0],
       [2, 2, 0, 1]], dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [16]:
xtrain

array([[2, 2, 0, 1],
       [2, 2, 1, 0],
       [1, 1, 0, 1],
       [1, 2, 0, 0],
       [1, 2, 1, 1],
       [2, 2, 0, 0],
       [1, 1, 0, 0],
       [2, 0, 1, 1],
       [0, 1, 1, 0]], dtype=object)